[user]
	name = Sigurd Dam Sonniks

[core]
  editor = vi

[alias]
  s  = status --short
  st = status
  ci = commit
  br = branch
	lg = log --graph --date=format:'%y-%m-%d' --pretty=tformat:'%C(auto)%h %Cgreen%cd%C(auto) %d%s'
	l  = lg -n 10
	lm = lg --merges

[merge]
  # I don't remember why I chose diff3 over zdiff3
	conflictStyle = diff3

[pull]
	ff = only

# Many of these come from https://blog.gitbutler.com/how-git-core-devs-configure-git/

[rebase]
  updateRefs = true

[diff]
  colorMoved = true
  algorithm = histogram

[commit]
  verbose = true

[branch]
  sort = committerdate

[tag]
  sort = version:refname